<tr>
  <td class="name">
    <%= link_to subject.name, admin_subject_task_masters_path(subject) %>
  </td>
  <td class="avatar"><%= image_target_tag subject %></td>
  <td class="description"><%= subject.description %></td>
  <td class="content">
    <%= subject.content.html_safe %>
  </td>
  <td class="during_time"><%= subject.during_time %></td>
</tr>

