<div class="subject_record row">
  <div id="subject-<%= subject.id %>" class="col-md-6">
    <h4><%= subject.name %></h4>
    <p><%= subject.description %></p>
  </div>
  <div id="subject-<%= subject.id %>" class="col-md-6">
    <% subject.task_masters.each_with_index do |task_master, index|%>
      <%= index + 1 %>.
      <b><%= task_master.name %></b>
      &nbsp:&nbsp<%= task_master.description %>
      <br>
    <% end %>
  </div>
</div>
<hr>
