<div class="row">
  <div class="col-md-5">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>
  <div class="col-md-5">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="col-md-2">
  <%= link_to_remove_fields t("dynamic_form.remove"), f %>
  </div>
</div>
