<div class="row form-new-tasks">
  <div class="col-md-11 new-task-master">
    <div class="row">
      <div class="col-md-2 text-right">
        <span><%= t "tasks.fields.name" %>:</span>
      </div>
      <div class="col-md-10">
        <%= f.text_field :name, class: "form-control", required: true,
          placeholder: I18n.t("tasks.form.input_task_name") %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 text-right">
        <span><%= t "tasks.fields.image" %>:</span>
      </div>
      <div class="col-md-10">
        <%= f.file_field :image, class: "form-control" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 text-right">
        <span><%= t "tasks.description" %>:</span>
      </div>
      <div class="col-md-10">
        <%= f.text_area :description, class: "form-control", required: true,
          placeholder: I18n.t("tasks.form.input_task_description") %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 text-right">
        <span><%= t "tasks.content" %>:</span>
      </div>
      <div class="col-md-10">
        <%= f.cktext_area :content, class: "ckeditor form-control", required: true,
          rows: 10 %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 text-right"></div>
      <div class="col-md-10">
        <%= f.fields_for :documents do |builder| %>
          <%= render "document_fields", f: builder %>
        <% end %>
        <strong><%= link_to_add_fields t("subjects.document"), f, :documents %></strong>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <%= link_to_remove_fields t("subjects.dynamic_form.remove"), f %>
  </div>
</div>
<br>
