<div class="row">
  <div class="col-md-9">
    <div class="title"><%= @course_subject.subject_name %></div>
    <div class="description"><%= @course_subject.subject_description %></div>
    <div class="text-danger">
      <%= "#{t "subjects.fields.during_time"}: #{@course_subject.subject.during_time} #{t "subjects.fields.days"}" %>
    </div>
  </div>
  <div class="col-md-3 title">
    <% if @course.progress? %>
      <% unless @user_subjects.count == @user_subjects.finish.count %>
        <%= link_to t("admin.actions.show_subject.finish_all"),
          admin_status_subject_path(@course_subject, "finish"), method: :patch,
          remote: true, class: "btn btn-success pull-right" %>
      <% end %>

      <% if @user_subjects.init.any? %>
        <%= link_to t("admin.actions.show_subject.start_all"),
          admin_status_subject_path(@course_subject, "start"), method: :patch,
          remote: true, class: "btn btn-primary pull-right btn-start-all" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @group_subjects.each do |key, value| %>
    <% unless key.nil? %>
      <h2 class="center title"><%= link_to key.name,
        edit_admin_course_subject_group_subject_path(@course_subject, key.id) %>
      </h2>
    <% else %>
      <h2 class="center title"><%= t "subjects.no_group" %></h2>
    <% end %>
    <%= render partial: "admin/subjects/user_subject", collection: value, as: :user_subject %>
  <% end %>
</div>
