<div class="user-task-info row">
  <div class="col-md-2"><strong><%= link_to user_subject.user.name, user_subject.user %></strong></div>
  <div class="col-md-2">
    <strong><%= t "subjects.fields.start_date" %></strong>&nbsp;:
    <span class="text-danger"><%= user_subject.start_date %></span>
  </div>

  <div class="col-md-2">
    <strong><%= t "subjects.fields.end_date" %></strong>&nbsp;:
    <span class="text-danger"><%= user_subject.end_date %></span>
  </div>

  <div class="col-md-2">
    <strong><%= t "subjects.fields.progress" %></strong>&nbsp;:
    <span class="text-danger"><%= "#{user_subject.progress} %" %></span>
  </div>

  <% if @course.progress? %>
    <div class="col-md-3 pull-right">
      <% if user_subject.init? %>
        <span class="pull-right"><%= link_to t("admin.actions.show_subject.start"),
          admin_course_subject_user_subject_path(@course_subject, user_subject),
          method: :patch, remote: true, class: "btn btn-primary" %></span>
      <% elsif user_subject.progress? %>
        <span class="pull-right"><%= link_to t("admin.actions.show_subject.finish"),
          admin_course_subject_user_subject_path(@course_subject, user_subject),
          method: :patch, remote: true, class: "btn btn-success" %></span>
        <span class="label label-warning pull-right"><%= user_subject.status %></span>
      <% else %>
        <span class="label label-danger pull-right">
          <%= user_subject.status %>
        </span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="user_tasks">
  <table class="table table-striped tbl-user-task">
    <thead>
      <tr>
        <th class="status-task"><%= t "user_subjects.fields.status" %></th>
        <th class="name"><%= t "user_subjects.fields.name" %></th>
        <th class="estimate-time"><%= t "user_subjects.fields.estimate_time" %></th>
        <th class="spent-time"><%= t "user_subjects.fields.spent_time" %></th>
        <th class="progress-value"><%= t "user_subjects.fields.progress" %></th>
        <th class="assign_user"><%= t "user_subjects.field.task_assign" %></th>
      </tr>
    </thead>
    <%= render user_subject.user_tasks %>
  </table>
</div>
