<div class="row">
  <span><h3><%= user_subject.user.name %></h3></span>
  <div class="col-md-8">
    <div class="user_tasks">
      <%= render user_subject.user_tasks %>
    </div>
  </div>
  <div class="col-md-4">
    <% if @course.progress? %>
      <% if user_subject.init? %>
        <div><%= link_to t("admin.actions.show_subject.start"),
          admin_course_subject_user_subject_path(@course_subject, user_subject),
          method: :patch, remote: true, class: "btn btn-primary" %></div>
      <% elsif user_subject.progress? %>
        <span class="status inprogress">
          <%= user_subject.status %>
        </span>
        <span><%= link_to t("admin.actions.show_subject.finish"),
          admin_course_subject_user_subject_path(@course_subject, user_subject),
          method: :patch, remote: true, class: "btn btn-success" %></span>
      <% else %>
        <div class="status finish">
          <%= user_subject.status %>
        </div>
      <% end %>
      <p>
        <%= t "subjects.fields.start_date" %>&nbsp;:
        <span class="text-danger">
          <%= user_subject.start_date %>
        </span>
      </p>
      <p>
        <%= t "subjects.fields.end_date" %>&nbsp;:
        <span class="text-danger">
          <%= user_subject.end_date %>
        </span>
      </p>
    <% end %>
  </div>
</div>
