<div class="row">
  <div class="col-md-9">
    <div class="title"><%= @course_subject.subject_name %></div>
    <div class="description"><%= @course_subject.subject_description %></div>
    <div class="text-danger">
      <%= "#{t "subjects.fields.during_time"}: #{@course_subject.subject.during_time} #{t "subjects.fields.days"}" %>
    </div>
  </div>
  <div class="col-md-3 title">
    <% if @course.progress? %>
      <% unless @user_subjects.count == @user_subjects.finish.count %>
        <%= link_to t("admin.actions.show_subject.finish_all"),
          admin_status_subject_path(@course_subject, "finish"), method: :patch,
          remote: true, class: "btn btn-success pull-right" %>
      <% end %>

      <% if @user_subjects.init.any? %>
        <%= link_to t("admin.actions.show_subject.start_all"),
          admin_status_subject_path(@course_subject, "start"), method: :patch,
          remote: true, class: "btn btn-primary pull-right btn-start-all" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <%= render partial: "admin/subjects/user_subject", collection: @user_subjects, as: :user_subject %>
</div>
