<div id="user-subject" >
  <div class="row">
    <div class="col-md-10">
      <div class="image"><%= image_target_tag @course_subject %></div>
      <div class="label_course_subject"><%= @course_subject.subject_name %></div>
      <div class="description"><%= @course_subject.subject_description %></div>
      <div class="action">
        <%= link_to t("buttons.edit"),
          edit_admin_course_course_subject_path(@course, @course_subject),
          class: "btn btn-primary" %>
        <%= link_to t("buttons.delete"), admin_course_course_subject_path(@course, @course_subject),
          method: :delete, data: {confirm: t("subjects.buttons.admin.delete_confirm")}, 
          class: "btn btn-danger" %>
      </div>
      <div class="text-danger">
        <%= "#{t "subjects.fields.during_time"}:
          #{@subject.during_time} #{t "subjects.fields.days"}" %>
      </div>

      <div class="user-lists">
        <%= render "user_lists" %>
      </div>
    </div>
  </div>
</div>
