<div class="row">
    <%= render "shared/error_messages", object: @group_subject %>
    <div class="col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true %>
      <br>
      <%= f.submit (f.object.new_record? ? t("subjects.buttons.admin.create")
        : t("subjects.buttons.admin.update")), class: "btn btn-primary" %>
    </div>
    <div class="col-md-6">
      <%= f.collection_check_boxes :user_subject_ids, @user_subjects, :id, :user_name do |b| %>
        <div class="row">
          <%= b.label do %>
            <%= b.check_box %>&nbsp;
            <%=  b.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
