%ul.nav.navbar-nav.navbar-right.root_links
  %li
    #flag-language-admin
      - Settings.languages.each do |_, val|
        = link_to params.merge(local: val), id: val do
          = image_tag val, size: Settings.flag_size
  - if _current_user.supervisor?
    %li= link_to t("admin.header.course"), index_path("course")
    %li= link_to t("admin.header.subject"), index_path("subject")
    %li= link_to t("admin.header.user"), index_path("user") 
  - if _current_user
    %li.dropdown
      %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
        = _current_user.name
        %span.caret
      %ul.dropdown-menu
        %li= link_to t("staticpages.profile"), show_path("user", _current_user)
        %li.divider{:role => "separator"}
        %li= link_to t("admin.misc.log_out"), logout_path, method: logout_method
