<%= form_for [:admin, @rank] do |f| %>
  <div class="row">
    <%= render "shared/error_messages", object: @rank %>
    <div class="col-md-6">
      <%= f.label :begin_point %>
      <%= f.number_field :begin_point, class: "form-control", required: true %>

      <%= f.label :end_point %>
      <%= f.number_field :end_point, class: "form-control", required: true %>

      <%= f.label :rank_value %>
      <%= f.number_field :rank_value, class: "form-control text-field", step: 0.1, required: true %>
      <br>

      <%= f.submit (f.object.new_record? ? t("rank.buttons.create")
        : t("rank.buttons.update")), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
