<h1 class="center"><%= t("layouts.rank") %></h1>
<div class="row">
  <div class="col-md-5">
    <%= render "form" %>
  </div>
  <div class="col-md-7">
    <table class="table table-hover">
      <thead>
        <tr class="info">
          <th><%= t "table.thead.begin_point" %></th>
          <th><%= t "table.thead.end_point" %></th>
          <th><%= t "table.thead.rank" %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ranks.each do |rank| %>
          <tr>
            <td><%= rank.begin_point %></td>
            <td><%= rank.end_point %></td>
            <td><%= rank.rank_value %></td>
            <td><%= link_to t("button.edit"), edit_admin_rank_path(rank),
              class: "btn btn-default btn-success" %></td>
            <td><%= link_to t("button.delete"), admin_rank_path(rank),
              method: :delete, data: {confirm: t("messages.delete.confirm")},
              class: "btn btn-default btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
