<%= render "shared/evaluation_tab", active_tab: Settings.tabs.rank %>

<div id="ranks">
  <p class="pull-right"><%= link_to t("rank.buttons.create"),
    new_admin_rank_path, class: "btn btn-success" %></p>
  <table class="table table-striped tbl-rank">
    <thead>
      <tr>
        <th class="begin-point"><%= t "table.thead.begin_point" %></th>
        <th class="end-point"><%= t "table.thead.end_point" %></th>
        <th class="rank"><%= t "table.thead.rank" %></th>
        <th class="action"><%= t "table.thead.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @ranks.each do |rank| %>
        <tr>
          <td class="begin-point"><%= rank.begin_point %></td>
          <td class="end-point"><%= rank.end_point %></td>
          <td class="rank"><%= rank.rank_value %></td>
          <td class="action"><%= link_to t("button.edit"),
            edit_admin_rank_path(rank), class: "btn btn-primary" %> &nbsp;
            <%= link_to t("button.delete"), admin_rank_path(rank),
              method: :delete, data: {confirm: t("messages.delete.confirm")}, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
