<div id="user-course-show" class="row">
  <div class="col-md-9">
    <div class="breadcrumb-bar">
      <ul class="breadcrumb">
        <li>
          <%= link_to root_url do %>
            <i class="glyphicon glyphicon-th-list"></i>
            <%= t "layouts.paths" %>
          <% end %>
        </li>
        <li><%= link_to t("layouts.all_courses"), courses_path %></li>
        <li class="active"><%= @course.name %></li>
      </ul>
    </div>

    <h2><%= @course.name %></h2>
    <div class="description"><%= @course.description %></div>
    <div class="box-divider">
      <div class="label-title"><%= t "user_subjects.labels.content"%></div>
      <p><%= @course.content.html_safe %></p>
    </div>

    <h3><%= t "courses.list_subject" %></h3>
    <div class="subject-list">
      <% @user_subjects.each_with_index do |user_subject, index| %>
        <div class="col-xs-1">
          <% if index == 0 %>
            <div class="node"></div>
          <% else %>
            <div class="node node--connected"></div>
          <% end %>
        </div>

        <div class="subject col-xs-11 row">
          <div class="col-xs-2 subject-image">
            <%= set_image user_subject %>
          </div>
          <div class="col-xs-10 infor">
            <div><span class="label-status <%= set_status user_subject.status %>">
              <%= t "user_subjects.statuses.#{user_subject.status}" %>
            </span>
            <span><i><%= "#{user_subject.during_time} days" %></i></span></div>

            <div class="subject-name"><%= link_to user_subject.name,
              course_subject_path(@course, user_subject.subject) %></div>
            <div><%= truncate(user_subject.description, length: 110) %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-3 info-panel">
    <%= render "info_panel" %>
  </div>
</div>
<%= render "shared/member_modal" %>
