<div class="row" id="course-show">
  <div class="col-md-9">
    <div class="row" id="course-breadcrumb">
      <ol class="breadcrumb">
        <li>
          <%= link_to root_url do %>
            <i class="glyphicon glyphicon-th-list"></i>
            <%= t "courses.paths" %>
          <% end %>
        </li>
        <li>
          <%= link_to t("courses.breadcum.courses"), courses_path %>
        </li>
        <li class="active"><%= @course.name %></li>
        <hr>
      </ol>
    </div>
    <div class="row">
      <h2 id="course-h2-header">
        <span id="course-header"><%= @course.name %></span>
      </h2>
      <p><%= @course.description %></p>
    </div>
    <div class="content-wrapper">
      <section class="content">
        <div class="row">
          <div class="col-md-12" id="subject-list">
            <ul class="timeline">
              <% @course_subjects.each do |item| %>
                <li class="time-label">
                  <span class="bg-red">
                    <%= pluralize item.during_time, t("courses.day") %>
                  </span>
                </li>
                <li>
                  <% if item.init? %>
                    <i class="fa fa-thumbs-o-down bg-red"
                      title = "<%= t 'courses.user_subject_status.init' %>" >
                    </i>
                  <% elsif item.progress? %>
                    <i class="fa fa-hand-o-right bg-orange"
                      title ="<%= t 'courses.user_subject_status.progress' %>"></i>
                  <% else %>
                    <i class="fa fa-thumbs-up bg-blue"
                      title ="<%= t 'courses.user_subject_status.finish' %>"></i>
                  <% end %>
                  <div class="timeline-item">
                    <div class="col-md-2">
                      <%= user_image_course_subject_tag item %>
                    </div>
                    <div class="col-md-10 course-subject-body">
                      <h3 class="timeline-header">
                        <%= link_to item.subject.name,
                          course_subject_path(@course, item.subject) %>
                      </h3>
                      <div class="timeline-body">
                        <%= item.subject.description %>
                      </div>
                      <div class="timeline-footer">
                        <%= link_to t("courses.view_detail"), course_subject_path(@course, item.subject),
                          class: "btn btn-primary btn-xs" %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row card">
      <div id="image-course">
        <%= image_course_tag @course, @course.programming_language_name %>
      </div>
      <h3 id="complete"><%= t "courses.course_complete" %></h3>
      <h3>0/10(0%)</h3>
    </div>
    <div class="row">
      <%= render partial: "shared/list_member",
        locals: {trainers: @trainers, trainees: @trainees} %>
    </div>
  </div>
</div>
