<div id="edit-task">
  <div class="breadcrumb-paths">
    <ul class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <i class="glyphicon glyphicon-th-list"></i>
          <%= t "layouts.paths" %>
        <% end %>
      </li>
      <li><%= link_to t("layouts.all_courses"), courses_path %></li>
      <li><%= link_to @course_subject.course_name, course_path(@course_subject.course) %></li>
      <li>
        <%= link_to @user_subject.subject_name,
          course_subject_path(@course_subject.course, @user_subject.subject) %>
      </li>
      <li>
        <%= link_to @task.name, course_subject_user_task_path(@course_subject,
          @task.user_tasks.first) %>
      </li>
      <li class="active"><%= t "button.edit" %></li>
    </ul>
    <hr>
  </div>
  <div class="form-edit-task">
    <%= form_for :task, url: course_subject_task_path(
      @course_subject, @task), html: {method: :patch}  do |f| %>
        <%= render "shared/error_messages", object: @task %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.file_field :image, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control modal-text-area",
            required: true, placeholder: t("tasks.form.input_task_description") %>
        </div>
        <div class="form-group">
          <%= f.text_area :content, class: "ckeditor form-control",
            required: true, rows: 10 %>
        </div>
        <div class="form-group">
          <%= f.submit t("button.update"),
            class: "btn btn--b btn--block" %>
        </div>
    <% end %>
  </div>
</div>
