<div id="task-show">
  <div class="grid well cell">
    <div class="grid-box-6 breadcrumb-paths">
      <ul class="list breadcrumb mts">
        <li>
          <%= link_to t("layouts.paths"), root_path %>
        </li>
        <li>
          <%= link_to t("layouts.all_courses"), courses_path %>
        </li>
        <li>
          <%= link_to @course.name, course_subjects_path %>
        </li>
        <li>
          <%= link_to @subject.name, course_tasks_path %>
        </li>
        <li><%= @task.name %></li>
      </ul>
    </div>
    <div class="grid-box-4 task-action">
      <ul class="row-action">
        <li>
          <%= t "tasks.assignee" %>
        </li>
        <li>
          <%= collection_select(:user, :user_id, @users, :id, :name,
            {selected: @assigned_trainee.id}) %>
        </li>
      </ul>
    </div>
  </div>
  <div id="task-info" class="grid">
    <div class="grid-box grid-box-6">
      <div class="task-attributes well">
        <div class="task-name"><%= @task.name %></div>
        <div><%= @task.description %></div>
        <hr>
        <div><%= @task.content.html_safe unless @task.content.nil? %></div>
      </div>
    </div>
    <div class="grid-box grid-box-4">
      <div class="well">
        <h4><%= t "tasks.progress" %> &nbsp;</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar"
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
            style="width:<%= @user_task.progress %>%;">
             <%= @user_task.progress %>%&nbsp;<%= t "tasks.complete" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
