<% provide :title, t("user.edit_profile") %>
<div id="profiles" class="profile-active">
  <div class="title center">
    <p><%= @profile.user_name %></p>
  </div>
  <%= form_for [:admin, @profile] do |f| %>
    <div class="row">
      <%= render "shared/error_messages", object: f.object %>
      <div class="col-md-6">
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :start_training_date %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :start_training_date, class: "form-control datepicker" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :leave_date %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :leave_date, class: "form-control datepicker" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :finish_training_date %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :finish_training_date, class: "form-control datepicker" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :contract_date %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :contract_date, class: "form-control datepicker" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :trainer %>
          </div>
          <div class="col-md-8">
            <%= select_profile_field "trainer", @trainers, f %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :ready_for_project %>
          </div>
          <div class="col-md-8">
            <%= f.check_box :ready_for_project, {}, 1, 0 %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :user_type %>
          </div>
          <div class="col-md-8">
            <%= select_profile_field "user_type", @user_types, f %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :university %>
          </div>
          <div class="col-md-8">
            <%= select_profile_field "university", @universities, f %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :programming_language %>
          </div>
          <div class="col-md-8">
            <%= select_profile_field "programming_language", @programming_languages, f %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :user_progress %>
          </div>
          <div class="col-md-8">
            <%= select_profile_field "user_progress", @user_progresses, f %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-4 text-right">
            <%= f.label :status %>
          </div>
          <div class="col-md-8">
            <%= select_profile_field "status", @statuses, f %>
          </div>
        </div>
        <%= f.submit t("buttons.submit"), class: "btn btn-primary pull-right" %>
      </div>
    </div>
  <% end %>
</div>
