<%= render "shared/category_tab", active_tab: Settings.tabs.user_profile %>
<div id="profiles">
  <table class="table table-striped tbl-profile">
    <thead>
      <tr>
        <th class="name" rowspan="2"><%= t "user.table.name" %></th>
        <th class="start_training_date" rowspan="2"><%= t "user.table.start_training_date" %></th>
        <th class="finish_training_date" rowspan="2"><%= t "user.table.finish_training_date" %></th>
        <th class="leave_date" rowspan="2"><%= t "user.table.leave_date" %></th>
        <th class="ready_for_project" rowspan="2"><%= t "user.table.ready_for_project" %></th>
        <th class="type" rowspan="2"><%= t "user.table.user_type" %></th>
        <th class="university" rowspan="2"><%= t "user.table.university" %></th>
        <th class="programming_language" rowspan="2"><%= t "user.table.programming_language" %></th>
        <th class="user-progress" rowspan="2"><%= t "user.table.progress" %></th>
        <th class="status" rowspan="2"><%= t "user.table.status" %></th>
        <th class="action"><%= t "user.table.action" %></th>
      </tr>
    </thead>
    <%= render @profiles %>
  </table>
</div>
