<%= form_for @evaluation, url: admin_user_evaluations_path do |f| %>
  <p class="pull-right"><%= f.submit (f.object.new_record? ? t("evaluations.create")
    : t("evaluations.update")), class: "btn btn-success" %></p>
  <div class="row">
    <div class="col-md-8">
      <%= @user.name %><br>
    </div>
  </div>
  <%= render "shared/error_messages", object: @evaluation %>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :assessment %>
      <%= f.text_field :assessment, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= f.label :total_point %>
      <%= f.number_field :total_point, class: "form-control", readonly: true %>
    </div>

    <div class="col-md-4">
      <%= f.label :current_rank %>
      <%= f.text_field :current_rank, class: "form-control", readonly: true %>

      <%= f.hidden_field :user_id, value: @user.id %>
    </div>
    <%= f.hidden_field :user_id, value: @user.id %>
  </div>
  <div class="evaluation-details">
    <table class="table table-striped tbl-evaluation-details">
      <thead>
        <tr>
          <th class="name"><%= t "evaluation.table.thread.name" %></th>
          <th class="point"><%= t "evaluation.table.thread.point" %></th>
        </tr>
      </thead>
      <%= f.fields_for :evaluation_details do |builder| %>
        <%= render "evaluation_details", f: builder %>
      <% end %>
    </table>
  </div>
<% end %>
