<div id="evaluations" class="evaluation-active">
  <table id="evaluation-tbl" class="table table-bordered display"
    data-source="<%= admin_evaluations_url format: "json" %>" >
    <thead>
      <tr class="active">
        <th></th>
        <th class="name"><%= t "evaluation.table.thread.name" %></th>
        <th class="total_point"><%= t "evaluation.table.thread.total_point" %></th>
        <th class="current_rank"><%= t "evaluation.table.thread.current_rank" %></th>
        <th class="action"><%= t "evaluation.table.thread.action" %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </table>
</div>
