<div class="form-edit-task">
  <%= form_for :task, url: admin_course_subject_task_path(
    @course_subject, @task), html: {method: :patch}  do |f|%>
      <%= render "shared/error_messages", object: @task %>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_area :description, class: "ckeditor-field form-control modal-text-area",
          placeholder: t("tasks.form.input_task_description") %>
      </div>
      <div class="form-group">
        <%= f.submit t("button.update"),
          class: "btn btn--b btn--block" %>
      </div>
  <% end %>
</div>
