<li class="list-group-item finished_course">
  <dl class="dl-horizontal">
    <dt><strong><%= t "courses.name" %></strong></dt>
    <dd><%= course.finish? ? course.name :
      (link_to course.name, root_path) %></dd>

    <dt><strong><%= t "courses.description" %></strong></dt>
    <dd><%= course.description %></dd>

    <dt><strong><%= t "courses.status" %></strong></dt>
    <dd><%= course.status %></dd>

    <dt><strong><%= t "courses.start_date" %></strong></dt>
    <dd>
      <span class="text-muted">
        <%= course.created_at.strftime Settings.date_format %>
      </span>
    </dd>
  </dl>
</li>
