<div class="col-md-6 ">
  <div class="form-group">
    <%= avatar_user_tag @user, "img-circle", Settings.image_profile %>
  </div>
</div>
<div class="col-md-6 info">
  <p>
    <b><%= t "user.profile.name" %></b><%= @user.name %>
  </p>
  <p>
    <b><%= t "user.profile.email" %></b><%= @user.email %>
  </p>
  <div class="form-group">
    <%= link_to t("user.action.edit"), edit_user_path(@user),
      class: "btn btn-info btn-sm" if current_user? @user %>
  </div>
</div>

<%= render "admin/notes/note_modal" %>
<div class="note-modal"></div>
