<div class="col-md-6 ">
  <div class="form-group">
    <%= image_tag "profile", class: "profile-image" %>
  </div>
</div>
<div class="col-md-6 info">
  <p>
    <b><%= t "user.profile.name" %></b><%= @user.name %>
  </p>
  <p>
    <b><%= t "user.profile.email" %></b><%= @user.email %>
  </p>
  <div class="form-group">
    <%= link_to t("user.action.edit"), edit_user_path(@user),
      class: "btn btn-info btn-sm" if current_user? @user %>
  </div>
</div>
