<% provide :title, t("user.edit_profile") %>

<div class="row edit-user">
  <h1 class="text-success center"><%= t "user.edit_profile" %></h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <div class="form-group">
        <%= f.label :name, t("user.fields.name") %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :avatar, t("user.fields.avatar") %>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, t("user.fields.email") %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, t("user.fields.password") %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t("user.place_holder.password_confirmation") %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= f.submit t("buttons.submit"), class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
