<% provide :title, @user.name %>
<div class="row user-profile">
    <div class="col-md-2">
      <%= image_tag "profile", class: "profile-image" %>
    </div>
    <div class="col-md-10 info">
      <p>
        <b><%= t "user.profile.name" %></b><%= @user.name %>
      </p>
      <p>
        <b><%= t "user.profile.email" %></b><%= @user.email %>
      </p>
      <p>
        <b><%= t "user.profile.role" %></b><%= @user.role %>
      </p>
    </div>
</div>
