<h1><%= t("users.assign_trainees") %></h1>

<%= form_for @course, url: admin_course_assign_trainees_path, method: :patch do |f| %>
  <%= render "shared/error_messages", object: @course %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :user_courses do |user_course_builder| %>
        <%= user_course_builder.hidden_field :id %>
        <%= user_course_builder.hidden_field :user_id %>
        <tr>
          <td>
            <%= user_course_builder.check_box :_destroy, {checked:
              user_course_builder.object.id.present?}, false, true %>
          </td>
          <td><%= user_course_builder.object.user.email %></td>
        </tr>
      <% end %>
      <%= f.submit :submit, class: "btn btn-primary" %>
    </tbody>
  </table>
<% end %>
