<%= form_for [:admin, @evaluation_template] do |f| %>
  <div class="row">
    <%= render "shared/error_messages", object: @evaluation_template %>
    <div class="col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true %>

      <%= f.label :min_point %>
      <%= f.number_field :min_point, class: "form-control", required: true %>

      <%= f.label :max_point %>
      <%= f.number_field :max_point, class: "form-control", required: true %>
      <br>

      <%= f.submit (f.object.new_record? ? t("evaluation_template.buttons.create")
        : t("evaluation_template.buttons.update")), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
