<h1 class="center"><%= t("layouts.evaluation_template") %></h1>
<div class="row">
  <div class="col-md-5">
    <%= render "form" %>
  </div>
  <div class="col-md-7">
    <table class="table table-hover">
      <thead>
        <tr class="info">
          <th><%= t "table.thead.name" %></th>
          <th><%= t "table.thead.min_point" %></th>
          <th><%= t "table.thead.max_point" %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @evaluation_templates.each do |evaluation_template| %>
          <tr>
            <td><%= evaluation_template.name %></td>
            <td><%= evaluation_template.min_point %></td>
            <td><%= evaluation_template.max_point %></td>
            <td><%= link_to t("button.edit"), edit_admin_evaluation_template_path(evaluation_template),
              class: "btn btn-default btn-success" %></td>
            <td><%= link_to t("button.delete"), admin_evaluation_template_path(evaluation_template),
              method: :delete, data: {confirm: t("messages.delete.confirm")},
              class: "btn btn-default btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
