<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation" class="<%= tab_active Settings.tabs.status, active_tab %>">
        <%= link_to t("layouts.status"), admin_statuses_path %>
        <%= link_to t("layouts.university"), admin_universities_path %>
      </li>
      <li role="presentation" class="<%= tab_active Settings.tabs.type, active_tab %>">
        <%= link_to t("layouts.types"), admin_user_types_path %>
      </li>
    </ul>
  </div>
</div>
