<% if course.nil? %>
  <div class="title">
    <h2><%= t "courses.no_course" %></h2>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <div class="title">
        <span class="name"><%= course.name %></span>
        <span class="pull-right">
          <% if course.init? %>
            <%= link_to t("courses.buttons.admin.start"), admin_course_change_status_courses_path(course),
              method: :patch, class: "btn btn-info" %>
          <% elsif course.progress? %>
            <%= link_to t("courses.buttons.admin.finish"),admin_course_change_status_courses_path(course),
              method: :patch, class: "btn btn-success" %>
          <% elsif course.finish? %>
            <label class="btn btn-xs btn-danger">
              <%= t "courses.buttons.admin.start.finished" %>
            </label>
          <% end %>
        </span>
      </div>

      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= tab_active Settings.tabs.overview, active_tab %>">
          <%= link_to t("courses.tabs.overview"), admin_course_path(course) %></li>
        <li role="presentation" class="<%= tab_active Settings.tabs.subjects, active_tab %>">
          <%= link_to t("courses.tabs.subjects"), admin_course_course_subjects_path(course) %></li>
        <% unless course.finish? %>
          <li role="presentation" class="<%= tab_active Settings.tabs.trainees, active_tab %>">
            <%= link_to t("courses.tabs.trainees"),
              edit_admin_course_assign_trainees_path(course) %></li>
        <% end %>
        <li role="presentation" class="<%= tab_active Settings.tabs.trainers, active_tab %>">
          <%= link_to t("courses.tabs.trainers"),
            edit_admin_course_assign_trainers_path(course) %></li>
      </ul>

    </div>
  </div>
<% end %>
