<% if @course.nil? %>
  <div clas="title"><%= t "subjects.coming_soon" %></div>
<% else %>
  <div class="row" id="trainee-course">
    <div class="col-md-12">
      <div class="title">
        <span class="name"><%= @course.name %></span>
        <span class="pull-right">
          <% if @course.init? %>
            <label class="label label-primary status">
              <%= t "courses.labels.status.new" %>
            </label>
          <% elsif @course.progress? %>
            <label class="label label-success status">
              <%= t "courses.labels.status.progress" %>
            </label>
          <% elsif @course.finish? %>
            <label class="label label-danger status">
              <%= t "courses.labels.status.finish" %>
            </label>
          <% end %>
        </span>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= tab_active Settings.tabs.overview, active_tab %>">
          <%= link_to t("courses.tabs.overview"), course_path(@course) %></li>
        <li role="presentation" class="<%= tab_active Settings.tabs.subjects, active_tab %>">
          <%= link_to t("courses.tabs.subjects"), course_subjects_path(@course) %></li>
      </ul>
    </div>
  </div>
<% end %>
