<%= form_for @role, url: admin_role_allocate_permissions_path, method: :patch do |f| %>
  <%= render "shared/error_messages", object: @role %>

  <h2 class="center"><%= @role.name %></h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
          <%= f.fields_for :permissions do |builder| %>
            <%= builder.hidden_field :id %>
            <%= builder.hidden_field :model_class %>
            <%= builder.hidden_field :action %>
            <tr>
              <td>
                <div class="col-md-8"><%= builder.object.model_class %></div>
                <div><%= builder.object.action %></div>
              </td>
              <td class="pull-right">
                <%= builder.check_box :_destroy, {checked: builder.object.id.present?}, false, true %>
              </td>
            </tr>
          <% end %>

          <div>
            <%= check_box_tag "select-permission-all", "select-all", false,
              class: "pull-right" %>
            <%= f.submit :submit, class: "btn btn-primary" %>
          </div>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
