<%= form_for [:admin, @programming_language] do |f| %>
  <div class="row">
    <%= render "shared/error_messages", object: @programming_language %>
    <div class="col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true %>

      <%= f.submit (f.object.new_record? ? t("buttons.create") : t("buttons.update")),
        class: "btn btn-primary pull-right" %>
    </div>
  </div>
<% end %>
