<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="label box-title">
      <%= t "subjects.members" %>
      <span class="badge label-primary"><%= @users.size %></span>
    </h3>
  </div>
  <div class="box-body no-padding">
    <%= render "shared/member_panel" %>
  </div>
</div>

<div class="card">
  <div id="image-course">
    <%= set_image @user_subject, Settings.image_size_200 %>
  </div><br>
  <div class="task-infor">
    <% @task_statuses.each do |key, value| %>
      <div class="status">
        <i class="fa fa-circle circle-<%= key %> " aria-hidden="true"></i>&nbsp;
        <%= t "subjects.tasks.#{key}_tasks" %>
        <%= instance_variable_get "@number_of_task_#{key}" %>/<%= @number_of_task %>
      </div>
    <% end %>
  </div>
</div>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="label box-title">
      <%= t "subjects.total_score" %>
      <% if @user_subject.score.present? %>
        <span class="badge label-primary">
          <%= t "subjects.score_result", score: @user_subject.score %>
        </span>
      <% else %>
        <span class="badge label-danger">
          <%= t "subjects.no_score_result" %>
        </span>
      <% end %>
    </h3>
  </div>
</div>
