<div class="row">
  <div class="title"><%= t "subjects.create_new_task" %></div>
  <%= form_for :task, url: course_tasks_path(@course.id,
    @course_subject.id), html: {method: :post}  do |f| %>
    <%= render "shared/error_messages", object: @subject %>
    <div class="col-md-3">
      <%= f.label :name, I18n.t("subjects.task.name") %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
    <div class="col-md-3">
      <%= f.label :description, I18n.t("subjects.task.description") %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :assigned_trainee_id, I18n.t("subjects.task.assignee") %>
      <%= f.select :assigned_trainee_id, @user_subjects.collect{|u| [u.user.name, u.user_id]}, {prompt: ""}, {class: "form-control"} %>
    </div>
    <%= f.hidden_field :course_subject_id, value: @course_subject.id %>
    <div class="col-md-3">
      <%= f.submit t("subjects.submit.create_task"), class: "btn btn-success"
        %>
    </div>
  <% end %>
</div>
<hr />
<div class="row">
  <div class="title"><%= t "subjects.task.had_not_assigned" %></h3></div>
  <% @unassign_tasks.each do |task| %>
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <%= task.name %>
      </div>
      <div class="col-md-6">
        <%= form_for :task, url: course_task_path(@course.id,task.id),
          html: {method: :put} do |f| %>
          <div class="col-md-4">
            <%= f.label :assigned_trainee_id, I18n.t("subjects.task.assignee") %>
          </div>
          <div class="col-md-4">
            <%= f.select :assigned_trainee_id, @user_subjects.collect{|u| [u.user.name, u.user_id]}, {prompt: ""},
              {class: "form-control"} %>
          </div>
          <div class="col-md-4">
            <%= f.submit t("subjects.task.submit"), class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
