<table class="table tbl-task">
  <thead>
    <tr>
      <td class="task_name label-tbl"><%= t "subjects.table.task_name" %></td>
      <td class="task_description label-tbl"><%= t "subjects.table.task_description" %></td>
      <td class="assign_user label-tbl"><%= t "subjects.table.task_assign" %></td>
    </tr>
  </thead>
  <tbody>
    <% @unassign_tasks.each do |task| %>
      <tr>
        <td class="task_name"><%= task.name %></td>
        <td class="task_description"><%= task.description %></td>
        <td class="assign_user">
          <%= form_for :task, url: course_task_path(@course.id,task.id),
            html: {method: :put} do |f| %>
            <%= f.select :assigned_trainee_id,
              @user_subjects.collect{|user_subject| [user_subject.user_name, user_subject.user_id]},
              {prompt: ""}, onchange: "this.form.submit()", class: "select-assign form-control" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr />
