<div class="title"><%= t "subjects.label.issues" %></div>
<div id="tasks">
  <table class="table table-striped tbl-task">
    <thead>
      <tr>
        <th class="redmine_id"><%= t "subjects.table.task_redmine_id" %>
        <th class="task_name"><%= t "subjects.table.task_name" %></th>
        <th class="task_progress"><%= t "subjects.table.task_progress" %></th>
        <th class="task_status"><%= t "subjects.table.task_status" %></th>
        <th class="estimated_time"><%= t "subjects.table.task_estimated_time" %></th>
        <th class="spent_time"><%= t "subjects.table.task_spent_time" %></th>
        <th class="assign"><%= t "subjects.table.task_assign" %></th>
        <th class="update"><%= t "subjects.table.task_update" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "subjects/user_subject", collection: @user_subjects %>
    </tbody>
  </table>
</div>
<hr>
<% if @course.progress? %>
  <%= link_to t("subjects.task.finish_all"), "#", class:
    "btn btn-success pull-right" %>
<% end %>
