<% provide :title, t("subjects.subject") %>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 title">
        <h1><%= @user_subject.course_subject.subject.name %></h1>
      </div>
      <div class="col-md-2">
        <% if @user_subject.course_subject.finish? %>
          <div class="status course-status finish">
        <% elsif @user_subject.course_subject.init? %>
          <div class="status course-status init">
        <% else @user_subject.course_subject.progress? %>
          <div class="status course-status inprogress">
        <% end %>
          <%= @user_subject.course_subject.status %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="information col-md-6">
        <div class="description">
          <%= @user_subject.course_subject.subject.description %>
        </div>
        <%= render "finish_form" unless @user_subject.finish? || @user_subject.course_subject.finish? %>
      </div>
      <div class="information col-md-6">
        <% @user_subject.course_subject.tasks.each_with_index do |task, index| %>
          <h4><%= index + 1 %>.&nbsp;<%= task.name %></h4>
          <p><%= task.description %></p>
          <p><b><%= link_to t("tasks.update"), edit_user_task_path(task) %></b></p>
          <% task.user_tasks.each do |user_task| %>
            <p><%= t "tasks.estimated_time" %>:
              <span class="text-danger"><%= user_task.estimated_time %>
                &nbsp;<%= t "tasks.hours" %>
              </span>
            </p>
            <p><%= t "tasks.spent_time" %>:
              <span class="text-danger"><%= user_task.spent_time %>
                &nbsp;<%= t "tasks.hours" %>
              </span>
            </p>
            <p><%= t "tasks.redmine_task_id" %>:
              <span class="text-danger"><%= user_task.redmine_task_id %>
              </span>
            </p>
          <% end %>
          <hr>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4 rightbar">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#show_member"><%= t "member" %></a>
      </li>
      <li>
        <a data-toggle="tab" href="#show_activity"><%= t "activity.activities" %></a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="show_member" class="tab-pane fade in active list_special">
        <% @course.users.each do |user| %>
          <li class="list-group-item" id="infor_member">
            <%= image_tag "profile.png" %>
            <%= link_to user.name, user_path(user) %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
