<div id="subject-show">
  <div class="row">
    <div class="col-md-9">
      <div class="breadcrumb-bar">
        <ul class="list breadcrumb">
          <li>
            <%= link_to root_url do %>
              <i class="glyphicon glyphicon-th-list"></i>
              <%= t "layouts.paths" %>
            <% end %>
          </li>
          <li><%= link_to t("layouts.all_courses"), courses_path %></li>
          <li><%= link_to @user_subject.course_name,  user_course_path(@user_subject.user_course) %></li>
          <li class="active"><%= @user_subject.subject_name %></li>
        </ul>
      </div>

      <div class="subject-overview">
        <div class="subject-title"><%= @user_subject.subject_name %></div>
        <div class="description"><%= @user_subject.description %></div>
        <div class="subject-content box-divider">
          <div class="label-title"><%= t "subjects.content" %></div>
          <%= @user_subject.content.html_safe %>
        </div>
      </div>
      <div class="render-task">
        <% if @unassign_tasks.present? %>
          <div id="tasks" class="task box-divider">
            <div class="label-title"><%= t "subjects.task.had_not_assigned" %></div>
            <%= render "task" %>
          </div>
        <% end %>
        <div class="user-task">
          <div class="overview">
            <%= t "subjects.task_overview" %>
            <%= link_to t("subjects.task.new_task"), "#",
              data: {toggle: "modal", target: "#TaskModal"}, class: "btn-action pull-right" %>
          </div>
          <%= render "list_user_tasks" %>
        </div>
      </div>
    </div>
    <div class="col-md-3 info-panel">
      <%= render "info_panel" %>
    </div>
  </div>
  <%= render "shared/task_modal" %>
  <%= render "shared/member_modal" %>
</div>
