<% provide :title, t("subjects.subject") %>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-8">
        <h1><%= @user_subject.course_subject.subject.name %></h1>
        <p>
          <%= t "subjects.fields.description" %>&nbsp;:
          <span class="text-danger">
            <%= @user_subject.course_subject.subject.description %>
          </span>
        <p>
          <%= t "subjects.fields.during_time" %>&nbsp;:
          <span class="text-danger">
            <%= @user_subject.course_subject.subject.during_time %>
            <%= t "subjects.fields.days" %>
          </span>
        </p>
        <p>
          <%= t "subjects.fields.start_date" %>&nbsp;:
          <span class="text-danger">
            <%= @user_subject.start_date %>
          </span>
        </p>
        <p>
          <%= t "subjects.fields.end_date" %>&nbsp;:
          <span class="text-danger">
            <%= @user_subject.end_date %>
          </span>
        </p>
        <p>
          <%= t "subjects.fields.progress" %>&nbsp;:
          <span class="text-danger">
            <%= @user_subject.progress %>&nbsp;%
          </span>
        </p>
      </div>
      <div class="col-md-2">
        <% if @user_subject.init? %>
          <div class="status course-status init"><%= t "courses.status.new" %></div>
        <% elsif @user_subject.progress? %>
          <div class="status course-status inprogress"><%= @course.status %></div>
        <% else @user_subject.finish? %>
          <div class="status course-status finish"><%= @course.status %></div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="information col-md-6">
        <% @user_subject.user_tasks.each_with_index do |user_task, index| %>
          <h4><%= index + 1 %>.&nbsp;<%= user_task.task.name %></h4>
          <p><%= user_task.task.description %></p>
          <% if current_user?(user_task.user) && @user_subject.progress? &&
            user_task.status != Settings.tasks.statuses.closed %>
            <p><b><%= link_to t("tasks.update"), edit_user_task_path(user_task,
              user_task_status: user_task.status)%></b></p>
          <% end %>
          <p><%= t "tasks.estimated_time" %>:
            <span class="text-danger"><%= user_task.estimated_time %>
              &nbsp;<%= t "tasks.hours" %>
            </span>
          </p>
          <p><%= t "tasks.spent_time" %>:
            <span class="text-danger"><%= user_task.spent_time %>
              &nbsp;<%= t "tasks.hours" %>
            </span>
          </p>
          <p><%= t "tasks.redmine_task_id" %>:
            <span class="text-danger"><%= user_task.redmine_task_id %>
            </span>
          </p>
          <p><%= t "tasks.progress" %>
            <div class="progress">
              <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" style="width:<%= user_task.progress %>%">
                <%= user_task.progress %> %
              </div>
            </div>

          <p><%= t "tasks.status" %>:
            <span class="text-danger">
              <i><%= t "tasks.statuses.#{Settings.tasks.statuses.key(user_task.status)}" %></i>
            </span>
          </p>
          <hr>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4 rightbar">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#show_member"><%= t "member" %></a>
      </li>
      <li>
        <a data-toggle="tab" href="#show_activity"><%= t "activity.activities" %></a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="show_member" class="tab-pane fade in active list_special">
        <% @course.users.each do |user| %>
          <li class="list-group-item" id="infor_member">
            <%= image_tag "profile.png" %>
            <%= link_to user.name, user_path(user) %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
