<% provide :title, t("subjects.subject") %>

<div class="row course_header">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= link_to @user_subject.subject.name, user_courses_path(@user_course) %>
    </h1>
    <p><%= @user_subject.subject.description %></p>  
  </div>
</div>

<div class="row"> 
  <div class="col-md-3 ">
    <div class="list-group">
      <%= link_to t("subjects.subject"), user_courses_path(@user_course), class: "list-group-item active" %>
      <div class="list-group">
        <% @user_course.user_subjects.each do |user_subject| %>
          <%= link_to user_subject.subject.name,
            user_course_user_subject_path(@user_course, user_subject),
            class: "list-group-item subject_member" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6 col_task">
    <%= form_for [@user_course, @user_subject] do |f| %>
      <div class="col-md-12">
        <%= f.fields_for :user_tasks do |builder| %>
          <div id="task_member">
            <%= builder.check_box :_destroy, {checked: builder.object.persisted?,
              disabled: builder.object.persisted?, class: "check_finish"}, "0", "1" %>
            <%= builder.hidden_field :task_id %>
            <%= builder.object.task.try :name %>   
          </div>
        <% end %>
      </div>
      <div class="col-md-12" id="subject_button_action">
        <%= f.submit t("tasks.update"), class: "btn btn-primary" %>
        <%= render "finish_form" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-3 col_activity">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#show_activity"><%= t "activity.activities" %></a>
      </li>
      <li>
        <a data-toggle="tab" href="#show_member"><%= t "member" %></a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="show_activity" class="tab-pane fade in active">
        <%= render "shared/activities", activities: @activities %>
      </div>
      <div id="show_member" class="tab-pane fade">
        <% @course.users.each do |user| %>
          <div id="infor_member">
            <%= image_tag "profile.png" %>
            <%= link_to user.name, user_path(user) %>
          </div>
        <% end %>
      </div>
    </div>
  </div> 
</div>
