<div id="roles">
  <div class="title">
    <span><%= t "layouts.admin.roles" %></span>
    <span class="pull-right"><%= link_to t("roles.buttons.admin.create"), new_admin_role_path, class: "btn btn-success" %></span>
  </div>
  <table class="table table-striped tbl-role">
    <thead>
      <tr>
        <th class="name"><%= t "roles.table.thread.name" %></th>
        <th class="action"><%= t "roles.table.thread.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td class="name"><%= role.name %></td>
          <td class="action"><%= link_to t("roles.allocate"),
            edit_admin_role_allocate_permissions_path(role) %>&nbsp;
            <%= link_to t("button.edit"), edit_admin_role_path(role) %>&nbsp;
            <%= link_to t("button.delete"), admin_role_path(role),
              method: :delete, data: {confirm: t("messages.delete.confirm")} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
