<div id="roles">
  <div class="row">
    <div class="col-md-12 title">
      <%= t "layouts.admin.roles" %>
      <span>
        <%= link_to t("roles.buttons.admin.new"),
            new_admin_role_path, class: "btn btn-success pull-right" %>
      </span>
    </div>
  </div>
  <table id="role-tbl" class="table table-bordered display" data-source="<%= admin_roles_url(format: "json") %>" >
    <thead>
      <tr class="active">
        <th></th>
        <th ><%= t "roles.table.thread.name" %></th>
        <th><%= t "roles.table.thread.allow_access_admin" %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
