<div id="user_progresses" class="profile-active">
  <p class="pull-right"><%= link_to t("button.new"),
    new_admin_user_progress_path, class: "btn btn-success" %></p>
  <table class="table table-striped tbl-user_progress">
    <thead>
      <tr>
        <th class="name"><%= t "table.thead.name" %></th>
        <th class="action"><%= t "table.thread.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @user_progresses.each do |user_progress| %>
        <tr>
          <td class="name"><%= user_progress.name %></td>
          <td class="action">
            <%= link_to t("button.edit"), edit_admin_user_progress_path(user_progress),
              class: "text-primary" %> &nbsp;
            <%= link_to t("button.delete"), admin_user_progress_path(user_progress),
              method: :delete, data: {confirm: t("messages.delete.confirm")},
              class: "text-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
