<div class="row form-group", id="task-master-<%= f.object.id %>">
    <div class="col-md-4">
      <%= f.label :name, t("admin.actions.edit_tasks_course_subject.name") %>
      <%= f.text_field :name, placeholder: f.object.decorate.display_name, class: "form-control"%>
    </div>

    <div class="col-md-4">
      <%= f.label :description, t("admin.actions.edit_tasks_course_subject.description") %>
      <%= f.text_field :description, placeholder: f.object.decorate.display_description,
        class: "form-control" %>
    </div>

    <%= link_to_remove_fields t("admin.actions.edit_tasks_course_subject.remove_task"), f %>
</div>
