<div class="fieldset">
  <dl>
    <dt><span class="label label-info name_field suling_type">
      <%= t "admin.subject.name" %>
    </span></dt>
    <dd class="well"><%= @object.name %></dd>
    <dt><span class ="label label-info name_field suling_type">
      <%= t "admin.subject.description" %>
    </span></dt>
    <dd class="well"><%= @object.description %></dd>
    <dt><span class="label label-info name_field suling_type">
      <%= t "admin.subject.tasks" %>
    </span></dt>
    <dd class="well">
      <table class="table table-condensed table-striped"> 
        <thead>
          <tr>
            <th><%= t "admin.subject.name_task" %></th>
            <th><%= t "admin.subject.description_task" %></th>
          </tr>
        </thead>
        <tbody>     
          <% @task_masters.each do |task_master| %>
            <tr>
              <td><%= task_master.name %></td>
              <td><%= task_master.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= pluralize @task_masters.count, t("admin.subject.tasks") %>
    </dd>
  </dl>
</div>
