<div id="box-subjects">
  <% if @course_subjects.any? %>
    <div class="row" id="course_subjects" data-id="<%= params[:id] %>">
      <%= render "subject_in_order", course_subjects: @course_subjects, course: @course %>
    </div>
    <dt><strong><%= t "courses.description" %></strong></dt>
    <dd><%= @course.description %></dd>
  <% else %>
    <%= t "admin.actions.show_member.no_subject" %>
  <% end %>
</div>
