<% if @members.any? %>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= t "admin.member.name" %></th>
        <th><%= t "admin.member.email" %></th>
        <th><%= t "admin.member.progress" %></th>
        <th class="last shrink"></th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td class="string_type">
            <%= member.name %>
          </td>
          <td class="string_type">
            <%= member.email %>
          </td>
          <td class="string_type">
            <%= "#{member.total_done_tasks(member, @course)}/#{@total_tasks}" %>
          </td>
          <td class="last links">
            <ul class="inline list-inline">
              <li>
                <%= link_to t("admin.actions.show_member.title"),
                  rails_admin.show_path(User, member.id),
                  class: "icon-info-sign" %>
              </li>
              <li>
                <%= link_to t("admin.actions.remove_member.title"),
                  rails_admin.delete_path(UserCourse, member.user_courses.
                  find_by(course: @course)), method: :delete, class: "icon-remove" %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= pluralize @members.count, t("member") %>
<% else %>
  <%= t "admin.actions.show_member.no_member" %>
<% end %>

<% unless @object.finish? %>
  <%= link_to t("admin.actions.add_subjects_to_course.btn"),
    add_trainee_to_course_path(id: @object.id), class: "btn btn-primary pull-right" %>
<% end %>
