<% if @members.any? %>
  <div id="box-members">
    <label class="members-count">
      <%= pluralize @members.count, t("member") %>
    </label>
    <table class="table">
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td>
              <div class="form-group">
                <%= image_tag "profile", class: "profile-image",
                  size: Settings.image_user_size %>
                <%= link_to member.name, rails_admin.show_path("user", member.id) %>
              </div>
            </td>
            <td>
              <%= "#{member.total_done_tasks(member, @course)}/#{@total_tasks}"
                %>
            </td>
            <td>
              <%= link_to "", rails_admin.delete_path(UserCourse, member.user_courses.find_by(course: @course)), method: :delete,
                class: "icon-remove" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div id="box-members">
    <%= t "admin.actions.show_member.no_member" %>
  </div>
<% end %>
