<% course_subjects.each do |course_subject| %>
  <div class="box-subject status <%= course_subject.init? ? "init order"
    : (course_subject.progress? ? "inprogress" : "finish") %> col-md-1"
    id="course_subject_<%= course_subject.id %>">
    <span class="<%= "handle icon-move col-md-1" if course_subject.init? %>"></span>
    <div class="subject-name text-center col-md-9">
      <%= link_to course_subject.subject.name,
        show_course_subject_path(subject: course_subject.id) %>
    </div>
    <div class="<%= course.init? ? "btn btn-xs btn-danger" : "hidden" %>">
      <%= t "admin.actions.show_course_subject.locked" %>
    </div>
    <div class="<%= course.finish? ? "btn btn-xs btn-danger" : "hidden" %>">
      <%= t "admin.actions.show_course_subject.finished" %>
    </div>
    <% if course.progress? %>
      <div class="btn-actions-<%= course_subject.id %>">
        <% if course.course_subjects.order_by_position(course_subject.position).first.nil? ||
          course.course_subjects.order_by_position(course_subject.position).first.finish? %>
          <%= render "btn_show_course_subject", course_subject: course_subject %>
        <% else %>
          <div class="btn btn-xs btn-danger">
            <%= t "admin.actions.show_course_subject.locked" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
