<div class="form-group form-actions">
  <div class="col-sm-offset-2 col-sm-10">
    <input name="return_to" type="<%= :hidden %>" value="<%= (params[:return_to].presence || request.referer) %>"></input>
    <button class="btn btn-primary" data-disable-with="<%= t("admin.form.save") %>" name="_save" type="submit">
      <i class="icon-white icon-ok"></i>
      <%= t("admin.form.save") %>
    </button>
    <span class="extra_buttons">
      <button class="btn btn-default" data-disable-with="<%= t("admin.form.cancel") %>" formnovalidate="<%= true %>" name="_continue" type="submit">
        <i class="icon-remove"></i>
        <%= t("admin.form.cancel") %>
      </button>
    </span>
  </div>
</div>
