<div class="row form-group">
  <div class="col-md-12">
    <div class="col-md-4">
      <%= f.label :name, t("admin.actions.edit_tasks_course_subject.name") %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="col-md-4">
      <%= f.label :description, t("admin.actions.edit_tasks_course_subject.description") %>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <%= link_to_remove_fields t("admin.actions.edit_tasks_course_subject.remove_task"), f %>
  </div>
</div>
