<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= "#" %></th>
      <th><%= t "admin.member.name" %></th>
      <th><%= t "admin.member.email" %></th>
      <th><%= t "admin.member.supervisor" %></th>
      <th><%= t "admin.member.main_supervisor" %></th>
      <th class="last shrink"></th>
    </tr>
  </thead>
  <tbody id="options">
    <%= form_for @object, url: edit_supervisor_to_course_path,
      method: :post do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= hidden_field_tag "course[user_ids][]", nil %>
      <% if @supervisor.any? %>
        <% @supervisor.each_with_index do |supervisor, index| %>
          <tr>
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <%= supervisor.name %>
            </td>
            <td>
              <%= supervisor.email %>
            </td>
            <td>
              <%= f.check_box :supervisor_ids, {name:
                "course[supervisor_ids][]", class: "checkbox-options",
                id: "supervisor_id_#{supervisor.id}"}, supervisor.id, nil %>
            </td>
            <td>
              <%= f.check_box :leader_ids, {name: "course[leader_ids][]",
                class: "checkbox-options", id: "leader_id_#{supervisor.id}",
                disabled: !@object.supervisors.include?(supervisor)},
                supervisor.id, nil %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td colspan="5">
          <%= f.submit t("admin.actions.edit_supervisor_to_course.btn"),
            class: "btn btn-primary pull-right" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

