<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">
        <%= t "admin.tabs.overview" %>
      </a>
    </li>
    <li role="presentation">
      <a href="#members" aria-controls="members" role="tab" data-toggle="tab">
        <%= t "admin.tabs.members" %>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#subject"><%= t "admin.tabs.subjects" %>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="overview">
      <h4><%= t "admin.course.basic_info" %></h4>
      <dl>
        <dt>
          <span class="label label-info name_field string_type">
            <%= t "admin.course.name" %>
          </span>
        </dt>
        <dd class="well">
          <%= @course.name %>
        </dd>
        <dt>
          <span class="label label-info name_field string_type">
            <%= t "admin.course.description" %>
          </span>
        </dt>
        <dd class="well">
          <%= @course.description %>
        </dd>
        <dt>
          <span class="label label-info name_field ">
            <%= t "admin.course.status" %>
          </span>
        </dt>
        <dd class="well">
          <%= @course.status %>
        </dd>
      </dl>
    </div>

    <div role="tabpanel" class="tab-pane" id="members">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= t "admin.member.name" %></th>
            <th><%= t "admin.member.email" %></th>
            <th class="last shrink"></th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td class="string_type">
                <%= member.name %>
              </td>
              <td class="string_type">
                <%= member.email %>
              </td>
              <td class="last links">
                <ul class="inline list-inline">
                  <li>
                    <%= link_to "", rails_admin.show_path(User, member.id),
                      class: "icon-info-sign",
                      title: t("admin.actions.show_member.title") %>
                  </li>
                  <li>
                    <%= link_to "", rails_admin.delete_path(UserCourse, member.user_courses.find_by(course: @course)),
                      class: "icon-remove",
                      title: t("admin.actions.remove_member.title") %>
                  </li>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="subject" class="tab-pane fade">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= t "admin.actions.show_course_subject.subject_name" %></th>
            <th><%= t "admin.actions.show_course_subject.action" %></th>
          </tr>
        </thead>
        <tbody>
          <% @course_subjects.each do |course_subject| %>
            <tr>
              <td><%= course_subject.subject.name %></td>
              <td>
                <% if @course.init? %>
                  <div class="btn btn-success"><%= t "admin.actions.show_course_subject.locked" %></div>
                <% elsif @course.finish? %>
                  <lable class="btn btn-danger">
                    <%= t("admin.actions.show_course_subject.finished") %>
                  </lable>
                <% else %>
                  <div class="btn-actions-<%= course_subject.id %>">
                    <% if course_subject.init? %>
                      <%= link_to t("admin.actions.show_course_subject.start"),
                        start_course_subject_path(course_subject_id: course_subject.id),
                        class: "btn btn-primary", remote: true %>
                    <% elsif course_subject.progress? %>
                      <%= link_to t("admin.actions.show_course_subject.progress"),
                        finish_course_subject_path(course_subject_id: course_subject.id),
                        class: "btn btn-primary", remote: true %>
                    <% elsif course_subject.finish? %>
                      <%= link_to t("admin.actions.show_course_subject.finished"),
                        start_course_subject_path(course_subject_id: course_subject.id),
                        class: "btn btn-primary", remote: true %>
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
