<div class="fieldset">
  <dl>
    <dt><span class="label label-info name_field suling_type">
      <%= t "admin.subject.name" %>
    </span></dt>
    <dd class="well"><%= @object.name %></dd>
    <dt><span class ="label label-info name_field suling_type">
      <%= t "admin.subject.description" %>
    </span></dt>
    <dd class="well"><%= @object.description %></dd>
    <dt><span class="label label-info name_field suling_type">
      <%= t "admin.subject.tasks" %>
    </span></dt>
    <dd class="well">
      <span><%= @tasks.count %><%= t "admin.subject.tasks"%></span><br>
      <table class="table table-condensed table-striped"> 
        <thead>
          <tr>
            <th><%= t "admin.subject.name_task" %></th>
            <th><%= t "admin.subject.description_task" %></th>
          </tr>
        </thead>
        <tbody>     
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
</div>
