<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">
        <%= t "admin.tabs.overview" %>
      </a>
      </li>
    <li role="presentation">
      <a href="#members" aria-controls="members" role="tab" data-toggle="tab">
        <%= t "admin.tabs.members" %>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#subject"><%= t "admin.tabs.subjects" %>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="overview">
      <h4><%= t "admin.course.basic_info" %></h4>
      <dl>
        <dt>
          <span class="label label-info name_field string_type">
            <%= t "admin.course.name" %>
          </span>
        </dt>
        <dd class="well">
          <%= @course.name %>
        </dd>
        <dt>
          <span class="label label-info name_field string_type">
            <%= t "admin.course.description" %>
          </span>
        </dt>
        <dd class="well">
          <%= @course.description %>
        </dd>
         <dt>
          <span class="label label-info name_field ">
            <%= t "admin.course.status" %>
          </span>
        </dt>
        <dd class="well">
          <%= @course.status %>
        </dd>
      </dl>
    </div>

    <div role="tabpanel" class="tab-pane" id="members">
      <% @members.each do |member| %>
        <h4>
          <%= link_to member.name, rails_admin.show_path(User, member.id) %>
        </h4>
      <% end %>
    </div>

    <div id="subject" class="tab-pane fade">
      <div class="row">
        <% @course_subjects.each do |course_subject| %>
          <div class="form-group">
            <div class="col-md-6">
              <%= course_subject.subject.name %>
            </div>
            <div class="col-md-6 btn-actions-<%= course_subject.id %>">
              <% if course_subject.init? %>
                <%= link_to t("admin.actions.show_course_subject.start"),
                  start_course_subject_path(course_subject_id: course_subject.id), class: "btn btn-primary", remote: true %>
              <% elsif course_subject.progress? %>
                <%= link_to t("admin.actions.show_course_subject.progress"),
                  finish_course_subject_path(course_subject_id: course_subject.id), class: "btn btn-primary", remote: true %>
              <% elsif course_subject.finish? %>
                <%= link_to t("admin.actions.show_course_subject.finished"),
                  start_course_subject_path(course_subject_id: course_subject.id), class: "btn btn-primary", remote: true %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
