<tr>
  <td><%= report.report_date %></td>
  <td><%= link_to report.user_name, user_path(report.user) %></td>
  <td><%= t "working_durations.#{report.working_duration}" %></td>
  <td><%= report.lines_code %></td>
  <td>
    <%= link_to t("repots.admin.actions.view"), admin_report_path(report) %> &nbsp;
    <%= link_to t("repots.admin.actions.edit"), edit_admin_report_path(report) %> &nbsp;
    <%= link_to t("repots.admin.actions.delete"), admin_report_path(report),
      method: :delete, data: {confirm: t("messages.delete.confirm")} %>
  </td>
</tr>
