<div class="row">
  <div class="col-md-12">
    <div class="title"><%= t "reports.admin.daily_reports" %></div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%= t "repots.admin.tables.date" %></th>
          <th><%= t "repots.admin.tables.trainee_name" %></th>
          <th><%= t "repots.admin.tables.working_duration" %></th>
          <th><%= t "repots.admin.tables.line_code" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @reports %>
      </tbody>
    </table>
  </div>
</div>
