<tr>
  <td class="status-task"><%= t "tasks.statuses.#{Settings.tasks.statuses.key(user_task.status)}" %></td>
  <td class="name"><%= user_task.task.name %></td>
  <td class="estimate-time"><%= user_task.estimated_time %></td>
  <td class="spent-time"><%= user_task.spent_time %></td>
  <td class="progress-value"><%= "#{user_task.progress} %" %></span>
  </td>
</tr>
