<tr>
  <td class="status-task">
    <%= t "tasks.statuses.#{Settings.tasks.statuses.key(user_task.status)}" %>
  </td>
  <td class="name"><%= link_to user_task.task_name,
    admin_course_subject_user_task_path(@course_subject, user_task) %></td>
  <td class="estimate-time"><%= user_task.estimated_time %></td>
  <td class="spent-time"><%= user_task.spent_time %></td>
  <td class="progress-value"><%= "#{user_task.progress} %" %></td>
</tr>
