<div class="row">
  <div class="col-md-2">
    <%= user_task.task.name %>
  </div>
  <div class="col-md-4">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuemin="0"
        aria-valuemax="100" style="width:<%= user_task.progress %>%">
        <%= user_task.progress %>%
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <%= t "subjects.status" %>&nbsp;<%= user_task.status %>
  </div>
</div>
