<tr>
  <td class="status-task">
    <%= t "tasks.statuses.#{Settings.tasks.statuses.key(user_task.status)}" %>
  </td>
  <td class="name"><%= link_to user_task.task_name,
    admin_course_subject_user_task_path(@course_subject, user_task) %></td>
  <td class="estimate-time"><%= user_task.estimated_time %></td>
  <td class="spent-time"><%= user_task.spent_time %></td>
  <td class="progress-value"><%= "#{user_task.progress} %" %></td>
  <%= form_for user_task.task, url: course_task_path(@course, user_task.task),
    html: {method: :put} do |f| %>
    <td class="assign_user">
      <% if user_task.assignable_task? %>
        <%= f.select :assigned_trainee_id,
          options_for_select(@user_subjects_not_finishs.collect{|subject|
            [subject.user.name, subject.user_id]}, user_task.user.id),
          {prompt: ""}, onchange: "this.form.submit()",
          class: "form-control" %>
      <% else %>
        <%= user_task.user_name %>
      <% end %>
    </td>
  <% end %>
</tr>
