<div id="user-course-index">
  <div class="breadcrumb-bar tac tal--l">
    <ul class="list breadcrumb mts">
      <li>
        <%= link_to root_url do %>
          <i class="glyphicon glyphicon-th-list"></i>
          <%= t "layouts.paths" %>
        <% end %>
      </li>
      <li class="active"><%= t "layouts.all_courses" %></li>
    </ul>
  </div>
  <hr>
  <div class="row">
    <% if @user_courses.size > 0 %>
      <% @user_courses.each do |user_course| %>
        <div class="col-md-6">
          <div class="card">
            <a href="<%= user_course_path user_course %>">
              <div class="bucket">
                <div class="bucket-media">
                  <div class="badge">
                    <%= image_course_tag user_course.course, 
                      user_course.course_programming_language.name %>
                  </div>
                </div>
                <div class="bucket-content">
                  <h2>
                    <span class="course-name">
                      <%= truncate user_course.course_name, length: 20 %>
                    </span>
                    <span class="course-status 
                      <%= style_course_status user_course.course_status %>">
                      <%= user_course.course.status.humanize %>
                    </span>
                  </h2>
                  <p class="course-description">
                    <%= truncate user_course.course_description, length: 129 %>
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
