<div id="user-course-index">
  <div class="breadcrumb-bar tac tal--l">
    <ul class="list breadcrumb mts">
      <li>
        <%= link_to root_url do %>
          <i class="glyphicon glyphicon-th-list"></i>
          <%= t "layouts.paths" %>
        <% end %>
      </li>
      <li class="active"><%= t "layouts.all_courses" %></li>
    </ul>
  </div>
  <hr>

  <div class="introduce-content">
    <h2><%= t "courses.demo_introduce" %></h2>
  </div>

  <% if @user_courses.any? %>
    <div class="row list-course-items">
      <% @user_courses.each do |user_course| %>
        <div class="col-md-4 course-item <%= @course_active_last == user_course ?
          'last-actived' : 'normal-course' %>">
          <div class="path-parent">
            <div class="badge">
              <%= image_course_tag user_course.course, user_course.course_programming_language %>
            </div>
            <div class="path-content">
              <div class="path-header"></div>
              <h2 class="truncate">
                <%= link_to user_course.course_name, user_course %>
              </h2>
              <p class="path-description">
                <%= user_course.course_description %>
              </p>
              <span class="prs <%= style_course_status user_course.course.status %>">
                <%= user_course.course_status %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
