<%= form_for @note, url: admin_user_note_path(@user, @note), method: :patch do |f| %>
  <%= render "shared/error_messages", object: @note %>
  <p class="pull-right">
    <%= f.submit t("notes.update"), class: "btn btn-success" %>
  </p>
  <div class="row">
    <div class="col-md-8">
      <%= f.label :name %>
      <%= f.text_area :name, class: "form-control" %>
    </div>
  </div>
<% end %>
