<div id="users">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for [:admin, @user] do |f| %>
        <%= render "shared/error_messages", object: @user %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>

        <%= f.label :role_id %>
        <%= f.select :role_id, options_for_select(@roles.collect{|role| [role.name,
          role.id]}, f.object.role_id), {}, class: "form-control" %></br>

        <%= f.submit (f.object.new_record? ? t("buttons.create")
          : t("buttons.update")), class: "btn btn-primary pull-right" %>
      <% end %>
    </div>
  </div>
</div>
