<div class="timeline-item">
  <h3 class="timeline-header">
    <%= link_to user_subject.subject.name,
      [:admin, @inprogress_course.course, user_subject.subject] %>
  </h3>

  <div class="timeline-body">
    <div id="user-user-subject-chart-<%= user_subject.id %>"
      data-user-subject-id="<%= user_subject.id %>"
      data-tasks=
        "<%= instance_variable_get "@number_tasks_user_#{user_subject.id}" %>"
      data-total-time=
        "<%= instance_variable_get "@time_total_done_#{user_subject.id}" %>"
      data-color= "<%= instance_variable_get "@color_#{user_subject.id}" %>"
      ></div>
  </div>
</div>
