<tr>
  <td class="name"><%= link_to user.name, user %></td>
  <td class="email"><%= user.email %></td>
  <td class="role"><%= user.role_name %></td>
  <td class="action">
    <%= link_to t("button.edit"), edit_admin_user_path(user), class: "btn btn-primary" %>&nbsp;
    <%= link_to t("button.delete"), [:admin, user], method: :delete, data: {confirm: t("messages.delete.confirm")},
      class: "btn btn-danger" %>
  </td>
</tr>
