<div class="row" id="user-<%= user.id %>">
  <hr>
  <div class="col-md-3">
    <b><%= link_to user.name, "#" %></b>
  </div>
  <div class="col-md-3">
    <%= user.email %>
  </div>
  <div class="col-md-2">
    <%= user.role %>
  </div>
  <div class="col-md-3 center">
    <%= link_to t("button.delete"), admin_user_path(user), method: :delete, 
      remote: true, data: {confirm: t("messages.delete.confirm")}, 
      class: "btn btn-danger" %>
  </div>
</div>
