<div class="col-sm-8 col-md-6 col-lg-4 course-item normal-course">
  <div class="path-parent">

    <div class="path-content">
      <div class="path-header">
        <h2 class="truncate">
          <%= link_to course.name, admin_course_path(course) %>
        </h2>
      </div>
      <p class="path-description">
        <%= course.description %>
      </p>
      <div class="list-users">
        <% if course.users.empty? %>
          <h3 class="no-user"><%= t "courses.no_user" %></h3>
        <% elsif course.users.count <= Settings.number_user_display %>
          <ul class="list-users-course">
            <li>
              <% course.users.each do |user| %>
                <%= link_to admin_user_course_image_tag(user, "badge badge-img img-circle"),
                  user_path(user), title: user.name %>
              <% end %>
            </li>
          </ul>
        <% else %>
          <ul class="list-users-course">
            <li>
              <% course.users.limit(Settings.number_user_display).each do |user| %>
                <%= link_to admin_user_course_image_tag(user, "badge badge-img img-circle"),
                  user_path(user), title: user.name %>
              <% end %>

              <div id="users-course-plus-<%= course.id %>"
                class="badge badge-img"
                data-toggle="modal"
                data-target="#users-course-modal-<%= course.id %>"
                data-backdrop="static" data-keyboard="false">
                <p title="<%= t 'courses.see_more' %>">+
                  <%= course.users.count - Settings.number_user_display %>

                  <div id="users-course-modal-<%= course.id %>"
                    class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button class="close">x
                          </button>
                          <h4><%= t "courses.list_users" %></h4>
                        </div>

                        <div class="modal-body">
                          <% unless course.load_trainers.empty? %>
                            <h4><%= t "courses.trainers" %></h4>
                            <div class="users-modal row">
                              <% course.load_trainers.each do |user| %>
                                <div class="col-md-1 col-xs-2 col-sm-3">
                                  <%= link_to admin_user_course_image_tag(user, "badge badge-img img-circle"),
                                    user_path(user), title: user.name %>
                                </div>
                              <% end %>
                            </div>
                          <% end %>

                          <% unless course.load_trainees.empty? %>
                            <h4><%= t "courses.trainees" %></h4>
                            <div class="users-modal row">
                              <% course.load_trainees.each do |user| %>
                                <div class="col-md-1 col-xs-3 col-sm-2">
                                  <%= link_to admin_user_course_image_tag(user, "badge badge-img img-circle"),
                                    user_path(user), title: user.name %>
                                </div>
                              <% end %>
                            </div>
                          <% end %>
                        </div>

                      </div>
                    </div>
                  </div>
                </p>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
