<%= form_for [:admin, @course] do |f| %>
  <div class="row">
    <%= render "shared/error_messages", object: @course %>
    <div class="col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true %>
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", required: true %>
      <%= f.label :start_date %>
      <%= f.text_field :start_date, class: "form-control datepicker", required: true %>
      <%= f.label :end_date %>
      <%= f.text_field :end_date, class: "form-control datepicker", required: true %>
      <br>
      <%= f.submit (f.object.new_record? ? t("courses.buttons.admin.create")
        : t("courses.buttons.admin.update")), class: "btn btn-primary" %>
    </div>
    <div class="col-md-6">
      <%= f.collection_check_boxes :subject_ids, @subjects, :id, :name do |b| %>
        <div class="row">
          <%= b.label do %>
            <%= b.check_box %>&nbsp;
            <%=  b.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
