<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><%= t "courses.labels.about_course" %></strong></div>
      <div class="panel-body">
        <strong><%= t "subjects.start_date" %></strong>
        <%= @course.start_date %></br>
        <strong><%= t "subjects.end_date" %></strong>
        <%= @course.end_date %></br>
        <strong><%= t "courses.labels.description" %></strong>
        <%= @course.description %></br>
        <strong><%= t "courses.labels.subject" %></strong>
        <%= @course_subjects.count %></br>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><%= t "courses.labels.members" %></strong></div>
      <div class="panel-body">
        <% @roles.each do |role| %>
          <strong><%= t "courses.labels.#{role.name}" %></strong>
          <%= member_list @users.find_by_role(role) %></br>
        <% end %>
      </div>
    </div>
  </div>
</div>
