<div id="courses">
  <div class="title"><%= t "layouts.admin.courses" %></div>
  <table class="table table-striped tbl-course">
    <thead>
      <tr>
        <th class="name"><%= t "courses.table.name" %></th>
        <th class="start-date"><%= t "courses.start_date" %></th>
        <th class="end-date"><%= t "courses.end_date" %></th>
        <th class="action"><%= t "courses.table.action" %></th>
      </tr>
    </thead>
    <%= render @courses %>
  </table>
</div>
