<h2><b class="text-success"><%= @course.name %></b></h2>
<%= link_to t("courses.buttons.admin.edit"), edit_admin_course_path(@course),
  class: "btn btn-primary pull-right" %>
<p><%= @course.description %></p>
<h3><%= t "layouts.admin.subjects" %></h3>
<% @subjects.each do |subject| %>
  <div><%= subject.name %></div>
<% end %>

