<% provide :title, t("courses.course") %>

<% if @course.nil? %>
  <div class="title">
    <h2><%= t "courses.no_course" %></h2>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 title">
          <h1><%= @course.name %></h1>
        </div>
        <div class="col-md-2 title">
          <% if @course.init? %>
            <%= link_to t("courses.buttons.admin.start"), admin_course_change_status_courses_path(@course),
              method: :patch, class: "btn btn-info" %>
          <% elsif @course.progress? %>
            <%= link_to t("courses.buttons.admin.finish"),admin_course_change_status_courses_path(@course),
              method: :patch, class: "btn btn-success" %>
          <% elsif @course.finish? %>
            <label class="btn btn-xs btn-danger">
              <%= t "courses.buttons.admin.start.finished" %>
            </label>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="information">
          <strong><%= t "subjects.start_date" %></strong>
          <%= @course.start_date.strftime Settings.date_course_format unless @course.start_date.nil? %><br>
          <strong><%= t "subjects.end_date" %></strong>
          <%= @course.end_date.strftime Settings.date_course_format unless @course.end_date.nil? %>
          <div class="description">
            <%= @course.description %>
          </div>
        </div>
      </div>
      <div class="list-subject">
        <% @course_subjects.each_with_index do |course_subject, index| %>
          <div class="row">
            <hr>
            <div class="col-md-10">
              <strong><%= index +1  %>.&nbsp;
              <%=link_to course_subject.subject.name, admin_subject_path(course_subject.subject) %></strong>
            </div>
             <div class="col-md-2">
              <% if course_subject.init? %>
                <%= link_to "Start", admin_course_subject_path(course_subject), method: :patch, class: "btn btn-success" %>
              <% elsif course_subject.progress? %>
                <div class="status course-subject-status inprogress">
                  <%= course_subject.status %>
                </div>
              <% else %>
                <div class="status course-subject-status finish">
                  <%= course_subject.status %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <div class="col-md-4 rightbar">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#show_member"><%= t "member" %></a>
        </li>
        <li>
          <a data-toggle="tab" href="#show_activity"><%= t "activity.activities" %></a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="show_member" class="tab-pane fade in active list_special">
          <% @course.users.each do |user| %>
            <li class="list-group-item" id="infor_member">
              <%= image_tag "profile.png" %>
              <%= link_to user.name, user_path(user) %>
            </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
