<div class="row" id="myReport">
  <div class="col-md-12">
    <div class="breadcrumb-bar">
      <ul class="list breadcrumb">
        <li>
          <%= link_to root_url do %>
            <i class="glyphicon glyphicon-th-list"></i>
            <%= t "layouts.paths" %>
          <% end %>
        </li>
        <li><%= link_to t("reports.breadcum.all"), "#" %></li>
        <li class="active"><%= t "reports.breadcum.new" %></li>
      </ul>
    </div>
    <h3><%= t "report" %></h3>
    <%= form_for @report do |f| %>
      <%= render "form_report", f: f %>
    <% end %>
  </div>
</div>

