<div id="myReport">
  <div class="breadcrumb-bar">
    <ul class="list breadcrumb">
      <li>
        <%= link_to root_url do %>
          <i class="glyphicon glyphicon-th-list"></i>
          <%= t "layouts.paths" %>
        <% end %>
      </li>
      <li><%= link_to t("reports.breadcum.all"), "#" %></li>
      <li class="active"><%= t "reports.breadcum.new" %></li>
    </ul>
  </div>
  <div class="row">
    <div class="row">
      <div class="row">
        <h2>
          <%= t "report" %> 
        </h2>
      </div>
      <%= form_for @report do |f| %>
        <div class="row">
          <%= render "shared/error_messages", object: @report %>
        </div>
        <div class="row">
          <div class="row mg-15">
            <div class="col-md-3">
              <%= f.label :report_date %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :report_date, 
                class: "form-control datepicker", required: true, 
                value: Time.now.to_date %>
            </div>
          </div>
          <div class="row mg-15">
            <div class="col-md-3">
              <%= f.label :working_duration %>
            </div>
            <div class="col-md-6">
              <%= f.select :working_duration, options_from_collection_for_select(
                i18n_enum(:report, :working_duration), :key, 
                :value, f.object.working_duration), {},
                class: "form-control" %>
            </div>
          </div>
          <div class="row mg-15">
            <div class="col-md-3">
              <%= f.label :lines_code %>
            </div>
            <div class="col-md-6">
              <%= f.number_field :lines_code, min: 0, class: "form-control" %>
            </div>
          </div>
          <div class="row user_task panel panel-default">
            <div class="controlContentHeader"><%= t "task" %></div>
            <div class="searchTask">
              <input type="text" placeholder="<%= t "search_by" %>" 
                id="seachTaskName" class="form-control"></input>
            </div>
            <div class="task-list">
              <table class="table table-hover">
                <%= f.collection_check_boxes :user_task_ids, 
                  @user_tasks, :id, :task_name do |b| %>
                  <tr class="taskfield">
                    <td><%= b.check_box %></td>
                    <td><%= b.text %></td>
                  </tr>
                <% end %>
              </table> 
            </div>
          </div>
        </div>
        <div class="row">
          <%= f.submit t("button.save"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
