<div class="row" id="myReport">
  <div class="col-md-12">
    <div class="breadcrumb-bar">
      <ul class="list breadcrumb">
        <li>
          <%= link_to root_url do %>
            <i class="glyphicon glyphicon-th-list"></i>
            <%= t "layouts.paths" %>
          <% end %>
        </li>
        <li><%= link_to t("all_report"), reports_path %></li>
        <li class="active"><%= @report.report_name %></li>
      </ul>
    </div>
    <h3><%= @report.report_name %></h3>
    <dl class="dl-horizontal report-info">
      <dt><%= t "repots.admin.tables.trainee_name" %></dt>
      <dd><%= link_to @report.user_name, user_path(@report.user) %></dd>
      <dt><%= t "repots.admin.tables.working_duration" %></dt>
      <dd><%= t "working_durations.#{@report.working_duration}" %></dd>
      <dt><%= t "repots.admin.tables.line_code" %></dt>
      <dd><%= @report.lines_code %></dd>
      <dt><%= t "repots.admin.tables.task_list" %></dt>
      <dd>
        <ol><%= render partial: "admin/reports/user_task", collection: @tasks,
          as: :user_task %></ol>
      </dd>
    </dl>
  </div>
</div>
