<nav class="navbar navbar-default navbar-fixed-top" id="header">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t("staticpages.banner"), root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.decorate.permission_course_master %>

          <li>
            <%= link_to t("courses.course_masters"), admin_course_masters_path %>
          </li>
          <li>
            <%= link_to t("courses.course"), admin_courses_path %>
          </li>
          <li>
            <%= link_to t("subjects.subject"), admin_subjects_path %>
          </li>
          <li>
            <%= link_to t("layouts.evaluation_template"), admin_evaluation_templates_path %>
          </li>
        <% elsif current_user.decorate.permission_course %>
          <li>
            <%= link_to t("courses.course"), admin_courses_path %>
          </li>
        <% else %>
          <li><%= link_to t("courses.course"), current_user.decorate.user_course_last_actived %></li>
        <% end %>
        <li>
          <div id="flag-language">
            <% Settings.languages.each do |_, val| %>
              <%= link_to params.merge(locale: val) do %>
                <%= image_tag val, size: Settings.flag_size %>
              <% end %>
            <% end %>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t("staticpages.profile"), user_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to t("staticpages.logout"), destroy_user_session_path,
              method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
