<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>
  <% if current_user.present? && current_user.decorate.allow_access_admin %>
    <body id="body-admin" class="skin-blue sidebar-mini wysihtml5-supported" >
      <div class="wrapper">
        <%= render "layouts/admin_header" if current_user.present? %>
        <div class="content-wrapper">
          <section class="content">
            <div class="flash">
              <%= render "layouts/flash" %>
            </div>
            <ol class="breadcrumb">
              <%= render_breadcrumbs tag: :li %>
            </ol>
            <%= yield %>
          </section>
        </div>
      </div>
    </body>
  <% else %>
    <body>
      <%= render "layouts/user_header" if current_user.present? %>
      <div class="container body_wrapper">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    </body>
  <% end %>
</html>
