<tr>
  <td class="redmine_id">
    <span class="text-danger"><%= user_task.redmine_task_id %></span>
  </td>
  <td class="task_name"><%= user_task.name %></td>
  <td class="task_progress">
    <span class="text-danger"><%= "#{user_task.progress} %" %></span>
  </td>
  <td class="task_status">
    <span class="text-danger">
      <i><%= t "tasks.statuses.#{Settings.tasks.statuses.key(user_task.status)}" %></i>
    </span>
  </td>
  <td class="estimated_time"><span class="text-danger"><%= user_task.estimated_time %></span></td>
  <td class="spent_time">
    <span class="text-danger"><%= user_task.spent_time %></span>
  </td>
  <td class="update">
    <% if current_user?(user_task.user) && user_task.subject_in_progress? &&
      user_task.status != Settings.tasks.statuses.closed %>
      <%= link_to t("subjects.table.task_update"), edit_user_task_path(user_task)%>
    <% end %>
  </td>
  <%= form_for user_task.task, url: course_task_path(@course.id,user_task.
    task.id), html: {method: :put} do |f| %>
    <td class="assign_user">
      <% if user_task.nil_master? && user_task.subject_in_progress? %>
        <%= f.select :assigned_trainee_id, @user_subjects.collect{|u| [u.user.name, u.user_id]}, {prompt: ""}, onchange: "this.form.submit()", class: "select-assign form-control" %>
      <% else %>
        <%= user_task.user_name %>
      <% end %>
    </td>
  <% end %>
</tr>
