<tr>
  <td><%= user_task_history.spent_time %></td>
  <td><%= user_task_history.estimated_time %></td>
  <td>
    <% if user_task_history.status %>
      <span class="label-status <%= task_status user_task_history.status %>">
        <%= t "user_tasks.statuses.#{user_task_history.status}" %>
      </span>
    <% end %>
  </td>
  <td>
    <%= user_task_history.created_at
      .strftime t("date.formats.default") %>
  </td>
</tr>
