<div id="user-task" class="row">
  <div class="breadcrumb-paths">
    <ul class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <i class="glyphicon glyphicon-th-list"></i>
          <%= t "layouts.paths" %>
        <% end %>
      </li>
      <li><%= link_to t("layouts.all_courses"), courses_path %></li>
      <li><%= link_to @user_subject.course_name, user_course_path(@user_subject.user_course) %></li>
      <li>
        <%= link_to @user_subject.name, user_course_subject_path(@user_course,
          @user_subject.subject) %>
      </li>
      <li class="active"><%= @user_task.task_name %></li>
    </ul>
  </div>
  <div id="task-info">
    <div class="col-md-8 info">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag "#{@user_task.status}.png",
            size: Settings.image_size_100 %>
        </div>
        <div class="col-md-10">
          <h4 class="task-name"><%= @user_task.task_name %></h4>
        </div>
        <% if @user_task.nil_master? && @user_task.user == current_user &&
          @user_task.create_by_trainee? %>
            <div class="dropdown pull-right">
              <button id="dLabel" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
                class="btn btn-default">
                <span class="glyphicon glyphicon-align-justify"
                  aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right"
                aria-labelledby="dLabel">
                <li>
                  <%= link_to edit_course_subject_task_path(@course_subject,
                    @user_task.task) do %>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <%= t"courses.buttons.admin.edit" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to course_subject_task_path(@course_subject,
                    @user_task.task), method: :delete,
                    data:{confirm: t("messages.delete.confirm")} do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <%= t "button.delete" %>
                  <% end %>
                </li>
              </ul>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="description"><%= @user_task.task_description %></div>
        </div>
      </div>
      <div class="box-divider">
        <div class="label-title"><%= t "user_tasks.content" %></div>
        <p><%= @user_task.task_content.html_safe %></p>
      </div>
      <div class="box-divider">
        <div class="label-title"><%= t "user_tasks.history" %></div>
        <table class="table table-bordered table-hover">
          <tr>
            <td><%= t "user_tasks.fields.spent_time" %></td>
            <td><%= t "user_tasks.fields.estimated_time" %></td>
            <td><%= t "user_tasks.fields.status" %></td>
            <td><%= t "user_tasks.fields.created_at" %></td>
          </tr>
          <%= render @user_task_histories %>
        </table>
      </div>
    </div>
    <div class="col-md-4 pull-right well">
      <div id="user-task-chart"
        data-estimated-time=<%= @estimate_time %>
        data-spent-time=<%= @total_spent_time %>
        data-color=<%= spent_time_chart_color @user_task %>>
      </div>
    </div>
  </div>
</div>
