<div id="user-task" class="row">
  <div class="breadcrumb-paths">
    <ul class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <i class="glyphicon glyphicon-th-list"></i>
          <%= t "layouts.paths" %>
        <% end %>
      </li>
      <li><%= link_to t("layouts.all_courses"), courses_path %></li>
      <li><%= link_to @course.name, course_path(@course) %></li>
      <li>
        <%= link_to @user_subject.subject_name, course_subject_path(@course,
          @user_subject.subject) %>
      </li>
      <li class="active"><%= @user_task.task_name %></li>
    </ul>
    <hr>
  </div>
  <div id="task-info">
    <div class="col-md-8 info">
      <div class="row">
        <div class="col-md-3 badge"><%= set_image @user_task.task %></div>
        <div class="col-md-9">
          <h4 class="task-name"><%= @user_task.task_name %></h4>
        </div>
        <% if @user_task.nil_master? && @user_task.user == current_user &&
          @user_task.create_by_trainee? %>
            <div class="dropdown pull-right">
              <button id="dLabel" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
                class="btn btn-default">
                <span class="glyphicon glyphicon-align-justify"
                  aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right"
                aria-labelledby="dLabel">
                <li>
                  <a href="<%= edit_course_subject_task_path @course_subject, @user_task.task %>">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <%= t"courses.buttons.admin.edit" %>
                  </a>
                </li>
                <li>
                  <a href="<%= course_subject_task_path @course_subject, @user_task.task %>",
                    data-method="delete",
                    data-confirm="<%= t "messages.delete.confirm" %>">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <%= t "button.delete" %>
                  </a>
                </li>
              </ul>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="description"><%= @user_task.task_description %></div>
        </div>
      </div>
      <div class="row">
        <hr>
        <div class="col-md-12"><%= @user_task.task_content.html_safe %></div>
     </div>
    </div>

    <div class="col-md-4 pull-right well">
      <p><strong><%= t "tasks.progress" %></strong></p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar"
          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
          style="width:<%= @user_task.progress %>%;">
           <%= @user_task.progress %>%&nbsp;<%= t "tasks.complete" %>
        </div>
      </div>
      <p><strong><%= t "tasks.estimated_time" %></strong>
        <%= @user_task.estimated_time %>&nbsp;<%= t "tasks.hours" %></p>
      <p><strong><%= t "tasks.redmine_task_id" %></strong><%= @user_task.redmine_task_id %></p>
      <p><strong><%= t "tasks.spent_time" %></strong>
        <%= @user_task.spent_time %>&nbsp;<%= t "tasks.hours" %></p>
      <p><strong><%= t "tasks.status" %></strong>
        <span class="label-status <%= task_status @user_task.status %>">
          <%= t "user_tasks.statuses.#{@user_task.status}" %>
        </span>
      </p>
    </div>
  </div>
</div>
