<% provide :title, @user_task.task_name %>

<div id="subject-show" class="user-task-page">
  <div class="row">
    <div class="col-md-8">
      <div class="subject-content">
        <div class="box-divider">
          <div class="breadcrumb-bar">
            <ul class="list breadcrumb">
              <li>
                <%= link_to root_url do %>
                  <i class="glyphicon glyphicon-th-list"></i>
                  <%= t "layouts.paths" %>
                <% end %>
              </li>
              <li><%= link_to t("layouts.all_courses"), courses_path %></li>
              <li><%= link_to @user_course.course_name,
                user_course_path(@user_course.id) %></li>
              <li><%= link_to @subject.name,
                user_course_subject_path(@user_course.id, @subject.id) %></li>
              <li class="active"><%= @user_task.task_name %></li>
            </ul>
          </div>

          <div class="subject-overview">
            <span class="subject-title">
              <%= @user_task.task_name %>
            </span>
            <span class="label-status <%= set_status @user_task.status %>">
              <%= t "courses.labels.status.#{@user_task.status}" %>
            </span>
            <span class="pull-right">
              <%= link_to t("button.finish"), "#", class: "btn btn-finish btn-action" %>
            </span>
          </div>
        </div>

        <div class="box-divider">
          <div class="label-title">Description</div>
          <%= @user_task.task.description.html_safe %>
        </div>

        <div class="task-submission box-divider">
          <% if @user_task.submission.present? %>
           <%= render "submission" %>
          <% else %>
            <%= render "submission_form" %>
          <% end %>
        </div>
      </div>

      <% unless current_user.is_trainee? %>
        <div class="score-evaluate row">
          <div class="score-title"><%= t "user_tasks.score_evaluation" %></div>
          <%= form_for @user_task, url: user_task_score_path(@user_task.id),
            remote: true do |f| %>
            <div class="col-md-6">
              <div class="input-group">
                <%= f.number_field :score, mix: 0, class: "form-control" %>
                <span class="input-group-btn">
                  <%= f.submit t("buttons.save"), class: "btn btn-primary pull-right" %>
                </span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 info-panel">
      <div class="right-panel">
        <%= render "comments/comments" %>
      </div>
    </div>
  </div>
  <%= render "shared/member_modal" %>
</div>
